$btn-border-radius: 0px;

//btn colors
    $message: #92DCE5;
    $message-shadow: #b7dfe4;
    $message-hover: #50b5c2;
    $follow: #EF6461;
    $follow-shadow: #f88d8b;
    $follow-hover: #ca4c4a;

//Text colors

    $grey:#aaaaaa;
    $dark-grey:#8d8d8d;