.header{
    background-image: url(../img/image-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 20vh;
}